# Exclude content in the config folder
config/*
!config/.gitkeep
!config/*.example

# Exclude content in the logs folder
logs/*
!logs/.gitkeep

# Exclude content in the logs folder
assets/*
!assets/template.tex
!assets/report-example.png

# Vscode folder
.vscode

# Virtual environment folder
.venv

# Jupyter notebooks
.ipynb_checkpoints
*.ipynb

# Python garbage
__pycache__

# Mac garbage
.DS_Store

# CSV Files
*.csv